/* all shared styles  */

.primary-color {
  color: red;
}
/* 
.first-color { 
	background: #fffbcc; 
}
	
.second-color { 
	background: #fd2e2e; 
}

.third-color { 
	background: #cf1b1b; 
}

.fourth-color { 
	background: #900d0d; 
}
*/

/* header banner styles start  */
* {
  font-family: "Roboto", sans-serif;
}

.header-bg {
  max-width: 1320px;
  height: 600px;
  /* background-color: #ffe8e8; */
  background-image: url("resources/banner-img/Banner\ Image.png");
  margin: 40px auto;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  justify-content: center;
}
.header-text {
  border-radius: 50px;
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1));
  max-width: 1320px;
  height: 600px;
  font-family: Merriweather;
}

.header-text > h3 {
  font-size: 32px;
  padding-top: 177px;
}
.header-text > h1 {
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
}
/* header section end  */

/* discount section start */

.discount {
  max-width: 810px;
  height: 850px;
  margin: 20px auto;
  background-color: #b2cfde;
  text-align: center;
}

.discount-text {
  padding-top: 10px;
}

.discount-percent {
  text-align: center;
  font-size: 88px;
  font-weight: 700;
}

.deals-text {
  font-size: 24px;
  font-weight: 500;
}

.deals-text-big {
  font-size: 48px;
  font-weight: 700;
}
/* discount done  */

/* Midnight party section start */
.midnight-party {
  max-width: 1320px;
  height: 600px;
  display: flex;
  margin: 40px auto;
  justify-content: space-around;
}

.midnight-party-bg {
  background-image: url("resources/mid-night-party/Vectorrr.png");
  background-repeat: no-repeat;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.midnight-party-bg-gradient {
  display: flex;
  background-image: linear-gradient(
    to right,
    rgb(0, 0, 0, 1),
    rgb(0, 0, 0, 0.1)
  );
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  max-width: 1320px;
  height: 600px;
  border-radius: 10px;
}

.midnight-party-texts {
  color: white;
  background-repeat: no-repeat;
  margin-left: 100px;
}

.mid-party-h1 {
  font-size: 64px;
  font-weight: 900;
}
mid-party-p {
  font-size: 18px;
}

.mid-2024-img {
  background-image: url(resources/mid-night-party/Group-70.png);
  background-repeat: no-repeat;
  width: 300px;
  margin-right: 100px;
  /* align-items: ; */
}

.join-btn {
  width: 135px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  padding: 15px;
  border-radius: 5px;
  margin-top: 30px;
}

/* midnight party done */
/* 
.coming-soon {
  max-width: 1320px;
  height: 460px;
  margin: 50px auto;
  background-color: #fd2e2e;
} */

.holiday-sale {
  max-width: 1320px;
  height: 1060px;
  margin: 40px auto;
  background-color: #fffbcc;
}

.portfolio {
  max-width: 1320px;
  height: 1000px;
  margin: 50px auto;
  background-color: #fd2e2e;
}
.portfolio-photos {
  display: flex;
}
.portfolio-photos-1 {
  height: 450px;
  /* width: 425px; */
}

.portfolio-photos-2 {
  height: 450px;
  /* width: 425px; */
}
/* .port-img {
  width: 424px;
  height: 450px;
  flex-shrink: 0;
} */

.newsletter-subscribe {
  max-width: 1320px;
  height: 460px;
  margin: 50px auto;
  background-color: aquamarine;
}

.footer {
  background-color: darkslateblue;
  width: 1600px;
  height: 610px;
  margin: 20px auto;
}
